.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
    padding: 40px;
}

.not-found .container h1 {
    font-size: 6rem;
    margin-bottom: 10px;
}

.not-found .container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.not-found .container .back-btn {
    padding: 12px 30px;
    background: #2c2a2a;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.not-found .container .back-btn:hover {
    background-color: #444;
}
