.video-gal section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg-dark);
    color: var(--color-text-light);
}

.video-gal .title-section {
    width: 100%;
    margin-top: 90px;
    justify-content: flex-end;
    height: 300px;
    font-size: var(--font-size-hero-title);
    font-weight: 0;
    font-family: var(--font-sub);
    margin: 0;
    padding: 0;
}

.video-gal .title-section p {
    margin: 0;
}

.video-gal .video-section {
    padding: 50px 0;
}

@media (max-width: 720px) {
    .video-gal .title-section {
        height: 200px;
    }
}
